daemon:
    name: Dialga OTP Cluster

general:
    eventlogger: 127.0.0.1:4343
    dc_files:
        - dclass/otp.dc
        - dclass/cars.dc

debug:
    pprof: false

messagedirector:
    bind: 127.0.0.1:6666

eventlogger:
    bind: 127.0.0.1:4343
    output: ../logs/events-%Y%m%d_%H%M%S.log

uberdogs:
    - class: FriendManager
      id: 4501

    - class: HolidayManager
      id: 4756

    - class: ShardManager
      id: 4757

    - class: PlayerFriendsManager
      id: 4687

roles:
    - type: clientagent
      # Clients connect in raw TCP.
      bind: 0.0.0.0:8012
      proxy: false
      version: "9.8.3"
      dc_hash: 2308474396
      lua_file: "CarsClient.lua"
      database: 4003
      client:
          relocate: true
          add_interest: enabled
          # Client heartbeats are apparently broken?
          heartbeat_timeout: 0 # 60
      channels:
          min: 1000000000
          max: 1009999999

    - type: stateserver
      control: 20100000
      objects:
          - class: DistributedDirectory
            id: 4619

    # The OTP database has been replaced in favor
    # of the one hosting in the API server.
    # GET_STORED_VALUES and SET_STORED_VALUES OTP messages
    # are supported.
    - type: lua
      name: APIDatabase
      lua_file: APIDatabase.lua

    - type: dbss
      database: 4003
      ranges:
          min: 100000000
          max: 199999999

    - type: eventlogger
      bind: 127.0.0.1:4343
      output: ../logs/events-%Y%m%d_%H%M%S.log

    - type: lua
      name: ShardManager
      lua_file: ShardManager.lua

    - type: lua
      name: PlayerFriendsManager
      lua_file: PlayerFriendsManager.lua
